# Application
APP_ENV=local
APP_URL=http://localhost:8000

# Database
DB_DATABASE=taskflow
DB_USERNAME=taskflow
DB_PASSWORD=secret
DB_ROOT_PASSWORD=rootsecret

# Frontend
NEXT_PUBLIC_API_URL=http://localhost:8000
